@using Quiz2.Models.DBEntities;


@model List<Question>
@{
    ViewData["Title"] = "Index";
}
<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css"/>
    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
</head>
<h1>Questions</h1>
<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2>Category List</h2>
        </div>
        <div class="col-6 text-end">
            @*<a href = "/category/create">*@

            <a asp-controller = "Admin" asp-action="CreateQuestion" class="btn btn-primary">
                Create new Questions
            </a>
        </div>
    </div>
</div>

<table id="myTable" class=" table table-bordered table-striped display" style="width：100%">
    <thead>
        <tr>
            <th>Id</th>
            <th>Category</th>
            <th>Question</th>
            <th>EditQ</th>
            <th>DeleteQ</th>
            <th>AddO</th>
            <th>OptionValue</th>
            <th>ShoudBeChoose</th>
            <th>EditOption</th>
            <th>DeleteOption</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var result in Model)
        {
                <tr>
                    <td rowspan="@result.Options.Count()"width ="2%">@result.QuestionId</td>
                    <td rowspan="@result.Options.Count()" width="5%">@result.Category.CategoryName</td>
                    <td rowspan="@result.Options.Count()"width="25%">@result.QuesContent</td>
                    <td rowspan="@result.Options.Count()"width="5%">
                            <div >
                                       <a asp-controller="Admin" asp-action="EditQuestion" asp-route-quesId="@result.QuestionId">EditQ</a>
                             </div>
                    </td>
                    <td rowspan="@result.Options.Count()"width="5%">
                            <div >
                                       <a asp-controller="Admin" asp-action="DeleteQuestion" asp-route-quesId="@result.QuestionId">DeleteQ</a>
                             </div>
                    </td>
                    <td rowspan="@result.Options.Count()"width="5%">
                            <div >
                                       <a asp-controller="Admin" asp-action="CreateOption" asp-route-quesId="@result.QuestionId">AddOption</a>
                            </div>
                    </td>
                    @{int i = 0; }
                           @foreach (var option in result.Options)
                           {
                               if (i > 0)
                               {
                                   @:</tr><tr>
                               }
                               <td width ="55%">@option.OptionValue</td>
                               <td width ="10%">@option.ShouldChoose</td>
                               <td width ="10%">
                                    <div >
                                         <a asp-controller="Admin" asp-action="EditOption" asp-route-optionId="@option.OptionId">Edit</a>
                                    </div>
                               </td >
                                <td width ="10%">
                                    <div >
                                         <a asp-controller="Admin" asp-action="DeleteOption" asp-route-optionId="@option.OptionId">Delete</a>
                                    </div>
                               </td>                              

                               i++;
                            }
                    
                </tr>
        }
    </tbody>
</table>

<script>
    $(document).ready(function () {
        $('#myTable').DataTable({
            "pageLength": 3
        });
    });
</script>