@using Quiz2.Models.DBEntities;

@model List<SessionRow>

<h1>The Quiz Results</h1>
<form method="post" asp-action="SelectSessionByUserId">


    <div class="form-group">
        @{
            var users = ViewData["allUsers"] as IEnumerable<SelectListItem>;
            if (users != null)
            {
                <label for="userId">Select a User's result':</label>
                <select id="userId" name="userId" asp-items="users" placeholder="Select a UserId"></select>
            }
        }
    </div>
    <button type="submit" class="btn btn-primary" style="width:150px">Select</button>
    @*The <a> tag here is to redirect to the index page*@
    <a asp-controller="Admin" asp-action="AdminIndex" class="btn btn-secondary" style="width: 150px">
        Back To Admin Index
    </a>
    <a asp-controller="Admin" asp-action="GetAllQuizs" class="btn btn-secondary" style="width: 150px">
        Back To All Quiz
    </a>
</form>


<table id="myTable" class=" table table-bordered table-striped display" style="width：100%">
    <thead>
        <tr>
            <th>User Name</th>
            <th>Taken Date</th>
            <th>Category</th>
            <th>No. of Questions</th>
            <th>Score</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var result in Model)
        {
            <tr>
                <td width="20%">@result.UserFullName</td>
                <td width ="20%">@result.TakenDate</td>
                <td width="20%">@result.Category</td>
                <td width="10%">@result.NumberOfQuestion</td>
                <td width="10%">@result.Score</td>
                <td width="20%">
                    <div >
                        <a asp-controller="Admin" asp-action="DisplayQuizResult" asp-route-sessionId="@result.sessionId">Detail</a>
                   </div>
                </td>
            </tr>
        }
    </tbody>
</table>


<script>
    document.getElementById("userid-dropdown").addEventListener("change", function() {
        var selectedUserId = this.value;
        filterTableByUserId(selectedUserId);
    });
    function filterTableByUserId(userId) {
    $('#myTable tbody tr').each(function() {
        var userIdTd = $(this).find("td:first");
        if (userIdTd.text() !== userId) {
            $(this).hide();
        } else {
            $(this).show();
        }
    });
}
</script>