@using Quiz2.Models.DBEntities;
<script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
@model List<SessionRow>

<h1>The Quiz Results</h1>

<table id="myTable" class=" table table-bordered table-striped display" style="width：100%">
    <thead>
        <tr>
            <th>Taken Date</th>
            <th>Category</th>
            <th>No. of Questions</th>
            <th>Score</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var result in Model)
        {
            <tr>
                <td width ="20%">@result.TakenDate</td>
                <td width="20%">@result.Category</td>
                <td width="10%">@result.NumberOfQuestion</td>
                <td width="10%">@result.Score</td>
                <td width="20%">
                    <div >
                        <a asp-controller="Admin" asp-action="DisplayQuizResult" asp-route-sessionId="@result.sessionId">Detail</a>
                   </div>
                </td>
            </tr>
        }
    </tbody>
</table>

<script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
<script>
    $(document).ready( function () {
        $('#myTable').DataTable({
            "pageLength": 3
        });
    } );
</script>