@using Quiz2.Models.DBEntities;
@model List<SessionRow>

<h1>The Quiz Results</h1>

<table class=" table table-bordered table-striped" style="width：100%">
    <thead>
        <tr>
            <th>Taken Date</th>
            <th>Category</th>
            <th>No. of Questions</th>
            <th>Score</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var result in Model)
        {
            <tr>
                <td width ="20%">@result.TakenDate</td>
                <td width="20%">@result.Category</td>
                <td width="10%">@result.NumberOfQuestion</td>
                <td width="10%">@result.Score</td>
                <td width="20%">
                    <div >
                        <a asp-controller="Admin" asp-action="DisplayQuizResult" asp-route-sessionId="@result.sessionId">Detail</a>
                   </div>
                </td>
            </tr>
        }
    </tbody>
</table>