@using Quiz2.Models.DBEntities;
@model Result
@{
}

@using (Html.BeginForm("DisplayQuizResult", "QuestionOptions", FormMethod.Get))
{
    <form method="post" action="@Url.Action("HandleSelection", "Quiz")">
        <div id="questionContainer">
             <h2>@Model.UserFullName</h2>
             <h3>Category name: @Model.QuizCategory</h3>
             <h3> SessionId: @Model.sessionLog.SessionId</h3>
             <h3>started at: @Model.sessionLog.StartTime.ToString("HH:mm:ss")</h3>
             <h3>ended at: @Model.sessionLog.EndTime</h3>
            <ul>
                @foreach (var item in Model.questionResultMap)
                {
                    <h5>@item.Key,QuestionId: @item.Value.Question.QuestionId <br> @item.Value.Question.QuesContent</h5>
                    @foreach(var option in item.Value.Question.Options)
                    {
                        <p>@option.OptionValue,    @option.ShouldChoose</p>
                    }
                    <h5>Answer: @item.Value.Answer </h5>
                    <h5>@item.Value.IsCorrect </h5>
                }

                <p>Score:  Score is @Model.sessionLog.Score</p>
@*                <p>PassStatus: @Model.PassContiditon</p>*@

            </ul>
        </div>
    </form>
    <a asp-controller="Admin" asp-action="GetAllQuizs" class="btn btn-secondary" style="width: 150px">
        Back To All Quiz
    </a>
}
