@using Quiz2.Models.DBEntities;
@model Result
@{
}

@using (Html.BeginForm("DisplayQuizResult", "QuestionOptions", FormMethod.Get))
{
    <form method="post" action="@Url.Action("HandleSelection", "Quiz")">
        <div id="questionContainer">
             <h2>Session: @Model.sessionLog.SessionId</h2>
             <p>Category name: @Model.QuizCategory</p>
             <p>started at: @Model.sessionLog.StartTime.ToString("HH:mm:ss")</p>
             <p>ended at: @Model.sessionLog.EndTime</p>
            <ul>
                @foreach (var item in Model.questionResultMap)
                {
                    <p>@item.Key, @item.Value.Question.QuesContent</p>
                    @foreach(var option in item.Value.Question.Options)
                    {
                        <p>@option.OptionValue,    @option.ShouldChoose</p>
                    }
                    <p>Your Answer: @item.Value.Answer </p>
                    <p>@item.Value.IsCorrect </p>
                }

                <p>Score: Your Score is @Model.sessionLog.Score</p>
                <p>PassStatus: @Model.PassContiditon</p>

            </ul>
        </div>
    </form>

}
