@using Quiz2.Models.DBEntities;
@model Result
@{
}

@using (Html.BeginForm("DisplayQuizResult", "QuestionOptions", FormMethod.Get))
{
    <form method="post" action="@Url.Action("HandleSelection", "Quiz")">
        <div id="questionContainer">
             <h2>Session: @Model.sessionLog.SessionId</h2>
             <p>Category name: @Model.QuizCategory</p>
             <p>started at: @Model.sessionLog.StartTime.ToString("HH:mm:ss")</p>
             <p>ended at: @Model.sessionLog.EndTime.ToString("HH:mm:ss")</p>
            <ul>
                @foreach (var item in Model.questionResultMap)
                {
                    <p>Key: @item.Key </p>
                    <p>Value: @item.Value.Answer </p>
                }

                <p>Score: @Model.sessionLog, @Model.PassContiditon</p>
            </ul>
        </div>
    </form>

}
