@using Quiz2.Models.DBEntities;
@model Result
@{
}

@using (Html.BeginForm("DisplayQuizResult", "QuestionOptions", FormMethod.Get))
{
    <form method="post" action="@Url.Action("HandleSelection", "Quiz")">
        <div id="questionContainer">
             <h2>@Model.UserFullName Here is your Quiz Result</h2>
            <h3>Category name: @Model.QuizCategory</h3>
            <h3>started at: @Model.sessionLog.StartTime.ToString("HH:mm:ss")</h3>
            <h3>ended at: @Model.sessionLog.EndTime</h3>
            <ul>
                @foreach (var item in Model.questionResultMap)
                {
                    <h5>@item.Key, @item.Value.Question.QuesContent</h5>
                    @foreach(var option in item.Value.Question.Options)
                    {
                        <p>&#9830 @option.OptionValue,    @option.ShouldChoose</p>
                    }
                    <h5>Your Answer: @item.Value.Answer </h5>
                    <h5>@item.Value.IsCorrect </h5>
                }

                <h3>Score: Your Score is @Model.sessionLog.Score</h3>
                <h3>PassStatus: @Model.PassContiditon</h3>

            </ul>
        </div>
    </form>
    <a asp-controller="Home" asp-action="Index" class="btn btn-secondary" style="width: 150px">
        Take a New Quiz
    </a>
}
