@using Quiz2.Models.DBEntities;
@model Result
@{
}

@using (Html.BeginForm("DisplayQuizResult", "QuestionOptions", FormMethod.Get))
{
    <form method="post" action="@Url.Action("HandleSelection", "Quiz")">
        <div id="questionContainer">
             <h2>@Model.UserFullName</h2>
            <h2>Category name: @Model.QuizCategory</h2>
            <h2>started at: @Model.sessionLog.StartTime.ToString("HH:mm:ss")</h2>
            <h2>ended at: @Model.sessionLog.EndTime</h2>
            <ul>
                @foreach (var item in Model.questionResultMap)
                {
                    <p>@item.Key, @item.Value.Question.QuesContent</p>
                    @foreach(var option in item.Value.Question.Options)
                    {
                        <p>&#9830 @option.OptionValue,    @option.ShouldChoose</p>
                    }
                    <p>Your Answer: @item.Value.Answer </p>
                    <p>@item.Value.IsCorrect </p>
                }

                <h2>Score: Your Score is @Model.sessionLog.Score</h2>
                <h2>PassStatus: @Model.PassContiditon</h2>

            </ul>
        </div>
    </form>
    <a asp-controller="Home" asp-action="Index" class="btn btn-secondary" style="width: 150px">
        Take a New Quiz
    </a>
}
