@using Quiz2.Models.DBEntities;
@model QuestionLog
@{
}
@*@using (Html.BeginForm("FirstQuestion", "QuestionOptions", FormMethod.Get))
{*@
    <div id="questionContainer">
        <h2>@Model.Question.QuestionId, @Model.Question.QuesContent</h2>
        <ul>
             @foreach (var option in Model.Question.Options)
             {
                 <p>@option.OptionValue </p>
             }
        </ul>
     </div>
@*}*@

<p>Current answer is @Model.Answer</p>

<form method="post" asp-action="SubmitAnswer">
    <div class="mb-3">
        <label asp-for="Answer"></label>
        <input asp-for="Answer" class="form-control" />
        <input type="hidden" name="quesLogId" value="@Model.QuestionLogId" />
        <input type="hidden" name="sessionId" value="@Model.SessionId" />
        <input type="hidden" name="curIndex" value="@Model.QuesionInSessionId" />
    </div>
    <button type="submit" class="btn btn-primary" style="width:150px">Update Answer</button>
</form>

<form method="post" asp-action="DisplayPrevQuestion">
    <input type="hidden" name="quesLogId" value="@Model.QuestionLogId" />
    <input type="hidden" name="sessionId" value="@Model.SessionId" />
    <input type="hidden" name="curIndex" value="@Model.QuesionInSessionId" />
    <button type="submit">Prev</button>
</form>
<form method="post" asp-action="DisplayNextQuestion">
    <input type="hidden" name="quesLogId" value="@Model.QuestionLogId" />
    <input type="hidden" name="sessionId" value="@Model.SessionId" />
    <input type="hidden" name="curIndex" value="@Model.QuesionInSessionId" />
    <button type="submit">Next</button>
</form>

<button id="myButton" type="button" onclick="confirmAction()">Submit Quiz </button>

<script>
    function confirmAction() {
        var sessionId = '@ViewBag.SessionId';
        var finished = '@ViewBag.Finished'
        console.log(finished)
        if (finished == "0") {
            var result = confirm("Are you sure you want to submit all?");
            if (result) {
                //OK button was pressed
                window.location.href = '@Url.Action("DisplayQuizResult", "QuizController")' + '?sessionId=' + String(sessionId);
            } else {
                //Cancel button was pressed
            }
        }
        else {
            window.location.href = '@Url.Action("DisplayQuizResult", "QuizController")' + '?sessionId=' + String(sessionId);
        }
    }
</script>